.header{
  background: #231F20;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding: 10px 0;
}
  
  .logo{
    height:30px;
    width: auto;
  }

  .loginBlock{
    float: right;
    width: 200px;
    text-align: right;
    line-height: 38px;
  }
  .loginBlock a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }