body {
  font-family: 'Lato', sans-serif;
  line-height: 26px;
  color: #6d6e71;
  font-size: 13px;
}

p {
  margin: 0 0 10px;
}
a{color: #27aae1;}

a:hover{color: #149AC9;}

a, a:active, a:focus {outline: none;}


h1, h2, h3, h4, h5, h6 {
  color: #27aae1;
}

h5 {
  font-size: 14px;
}
h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentCenter{
  display: flex;
  align-items: center;
  justify-content: center; 
}